@import url("http://fonts.googleapis.com/css?family=Montserrat+Alternates");

@import url("http://fonts.googleapis.com/css?family=Roboto");

@import url("http://fonts.googleapis.com/css?family=Amatic+SC");

* {
  font-family: 'Roboto';
}

a {
  color: #eb8c58;
}

html, body {
  height: 100%;
}

#root, #root > div {
  height: 100%;
}

#root > div {
  display: flex;
  flex-flow: column;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0em 1em;
  max-width: 1024px;
  flex: 1 1 100%;
}

.secondary {
  color: #999;
}

.scrollable {
  overflow: auto;
  max-height: 400px;
}

.row {
  margin: 0;
  display: flex;
}

.nav-button .icon-menu {
  color: white !important;
}