.list-item {
  line-height: 64px;

  &.header {
    background-color: #666;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    display: block;

    &:hover {
      background-color: #000 !important;
    }
  }
  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
  &.disabled {
    color: #666;
  }
}
