#landing {
  h1, h2, h1 span, h2 span {
    font-family: 'Amatic SC' !important;
  }
}

#hook h1, #promise h1, #cta h1, #benefits h1 {
  padding-top: 2.5em;
  font-size: 3.2em;
  line-height: 110%;
  text-shadow: 3px 3px 3px #333;
  text-align: center;
}

#hook h2, #promise h2, #cta h2, #benefits h2 {
  font-size: 4.25em;
  text-align: center;
}

#hook h3, #promise h3, #cta h3, #benefits h3 {
  font-size: 2em;
  color: #3a3934;
  margin: 1em 0 0.75em;
  font-weight: normal;
}

#hook h4, #promise h4, #cta h4, #benefits h4 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

#hook h5, #promise h5, #cta h5, #benefits h5 {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0em;
}

#hook {
  background-image: url("/images/pitch/sparklerHeader-2048.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #fff;
  padding: 1em 0em;
}

#promise {
  background-color: #eb8c58;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 3em;
}

#more-heart {
  background: url("/images/pitch/heartIcon.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 6em 6em;
  margin: -3em 0em;
  padding: 3em 0em;
  z-index: 100;
  position: relative;
}

#benefits {
  background-color: #eeeeee;
  padding-top: 2em;
  ul {
    list-style-type: none;
    padding: 0 1em;
    li {
      text-align: center;
      font-size: 1.2em;
      line-height: 1.6em;
      margin-bottom: 1em;
      padding-top: 0.5em;
      &.sn-icon {
        padding-top: 4.5em;
        background-size: 4em 4em;
        background-repeat: no-repeat;
        background-position: center top;
        &.checklist {
          background-image: url("/images/pitch/icon-checklist.svg");
        }
        &.clock {
          background-image: url("/images/pitch/icon-clock.svg");
        }
        &.direct {
          background-image: url("/images/pitch/icon-direct.svg");
        }
        &.first {
          background-image: url("/images/pitch/icon-first.svg");
        }
        &.flag {
          background-image: url("/images/pitch/icon-flag.svg");
        }
        &.mountains {
          background-image: url("/images/pitch/icon-mountains.svg");
        }
        &.piggy {
          background-image: url("/images/pitch/icon-piggy.svg");
        }
        &.sailboat {
          background-image: url("/images/pitch/icon-sailboat.svg");
        }
      }
    }
  }
}

@media screen and (min-width: 641px) {
  #hook h1, #promise h1 {
    font-size: 5.5em;
  }
  #hook h2, #promise h2 {
    font-size: 3em;
  }
  h1 span, h2 span {
    display: inline;
  }
  #benefits ul {
    margin: 0 auto;
    max-width: 640px;
    li {
      font-size: 1.3em;
      line-height: 1.5em;
      text-align: left;
      b {
        font-size: 120%;
      }
      &.sn-icon {
        padding: 0.5em 0 0.5em 4em;
        background-size: 3em 3em;
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
  }
}

#footer {
  padding: 2em 0;
  color: #d9d8d5;
  background-color: #2e2e2a;
  a {
    color: #fff;
    text-decoration: none;
  }
  .container {
    text-align: center;
  }
  .links {
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    ul {
      padding: 0;
    }
    li {
      list-style-type: none;
      line-height: 2em;
    }
  }
}

#logo {
  background: url("/assets/images/sn-logo-32.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  padding-left: 30px;
  font-size: 18px;
  color: #fff;
  .alt {
    color: #a09f96;
  }
}

md-input-container.md-default-theme {
  label, .md-placeholder {
    color: #3a3934;
  }
  .md-input {
    background-color: #fff;
  }
}

#cta {
  background: #eb8c58;
  color: #fff;
  padding: 1em 0em;
  overflow: hidden;
  position: relative;
  img {
    width: 60%;
  }
  .container {
    &.ng-animate {
      -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
      transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &.ng-leave.ng-leave-active {
      top: -100%;
    }
    &.ng-enter {
      top: -100%;
      &.ng-enter-active {
        top: 0;
      }
    }
    &.ng-leave {
      top: 0;
    }
  }
}

#tools > div > div {
  position: relative !important;
}
