.accent {
  color: #FFC107;
}

.disabled {
  color: #999;
}

.center {
  text-align: center;
}

.narrow {
  max-width: 600px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-weight: 900 !important;
}
