.list-item {
  line-height: 64px;

  &.header {
    background-color: #666;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    display: block;

    &.clickable:hover {
      background-color: #000 !important;
    }
  }
  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
  &.disabled {
    color: #666;
  }

  .left, .right {
    width: 48px;
    font-size: 32px;

    &.left {
      padding: 0 0 0 16px;
    }
  }

  .content {
    padding: 0 16px;

    .title {
      font-size: 18px;

    }
    .subtitle {
      color: #666;
    }
  }

  .right {

  }
}
