.collapsible {
  padding: 0 8px 16px 64px;
}

a.list-item {
  text-decoration: none;
  color: inherit;
}

.list-item {
  min-height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.blue {
    background-color: rgba(7, 193, 255, 1) !important;
    &::after {
      border-color: rgba(7, 193, 255, 1) transparent !important;
    }
  }

  &.green {
    background-color: #07FF33 !important;
    &::after {
      border-color: #07FF33 transparent !important;
    }
  }

  &.yellow {
    background-color: #FFC107 !important;
    &::after {
      border-color: #FFC107 transparent !important;
    }
  }

  &.rotate {
    transform: rotateY(180deg);

    .content {
      transform: rotateY(180deg);
    }

    .subtitle {
      float: right;
    }
  }

  &.header {
    background-color: #666;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;

    &.clickable:hover {
      background-color: #000 !important;
    }
  }
  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
  &.disabled, &.disabled * {
    color: #CCC !important;
  }

  .left, .right {
    flex-basis: 64px;

    i {
      font-size: 32px;
      line-height: 40px !important;
    }

    &.left {
      padding: 0 0 0 16px;
    }

    &.right {
      padding: 0 16px 0 0;
      text-align: right;
    }
  }

  .content {
    flex: 1;
    line-height: 24px;

    padding: 0 16px;

    .title {
      font-size: 18px;

      &:xonly-child {
        margin-top: 20px;
      }

    }
    .subtitle {
      color: #666;
    }
  }

  .right {

  }
}
