.title-block {
  z-index: 100;
  min-height: 120px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 300px;

  * {
    color: white;
  }

  &.profile {
    .left {
      margin-bottom: -32px;
    }
  }

  .content {
    padding: 12px 12px;
    z-index: 10;
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        margin-right: 12px;
      }
      .main {
        flex: 1;
        .title {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
