.title-block {
  z-index: 100;
  color: #FFF;
  min-height: 120px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &.profile {
    .left {
      margin-bottom: -32px;
    }
  }

  .content {
    padding: 0.5em 1em;
    z-index: 10;
    .bottom {
      display: flex;
      align-items: center;
      .left {
        margin-right: 1em;
      }
      .main {
        .title {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
