
.env-banner {
  background: rgb(255, 255, 200);
  border: 1px solid orange;
  color: orange;
  height: 30px;
  left: 50%;
  margin: 0 0 0 -75px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 150px;
  z-index: 2;
}
