.quote {
  position:relative;
  padding:8px;
  margin:12px 12px 10px 12px;
  border:1px solid black;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.quote:before {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:10px; /* controls horizontal position */
  border-width:14px 14px 0;
  border-style:solid;
  border-color:black transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.quote:after {
  content:"";
  position:absolute;
  bottom:-12px; /* value = - border-top-width - border-bottom-width */
  left:11px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

.list-item-title .content .title {
  font-size: 24px;
  line-height: 42px;
  font-weight: bold;
  color: #666;
}

.description {
  background-color: #DDD;
}
